# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Question10.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Dejik Concepts\Desktop\Ass- Chpt9\Question10\.idea\.idea.Question10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
