# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.MaxOccourence.iml
# Datasource local storage ignored files
/../../../../../:\chpt7\.idea\.idea.MaxOccourence.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
