# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Question1.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Dejik Concepts\Desktop\Ass- Chpt9\Question1\.idea\.idea.Question1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
