# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Question2_LongestPalindromicSubstring.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Dejik Concepts\Desktop\ABS Adebayo\Adeayo-Abass-Ayodeji\CodeChallenge24thDec21\Question2\Question2_LongestPalindromicSubstring\.idea\.idea.Question2_LongestPalindromicSubstring.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
