# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Question3.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Dejik Concepts\Desktop\CodeChallengeDec10th\Question3\.idea\.idea.Question3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
