# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Question2_14thJan2022.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Dejik Concepts\Desktop\Test\CodeChallenges\Question2_14thJan2022\.idea\.idea.Question2_14thJan2022\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
