# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Question 3.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Dejik Concepts\Desktop\Backup\Chapter 5 textbook\Question 3\.idea\.idea.Question 3.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
