# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Question1.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Dejik Concepts\Desktop\CodeChallengeDec10th\Question1\.idea\.idea.Question1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
