# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Q.1.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Dejik Concepts\Desktop\Test\CodeChallenge24thDec21\Q.1\.idea\.idea.Q.1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
