# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Question16.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Dejik Concepts\Desktop\Nov14th2021\Q1-20\Question16\.idea\.idea.Question16\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
